@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Martel:wght@200;300;400;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Martel:wght@200;300;400;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
}

.container .main {
  background-image: url(./Rectangle\ 166.png);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.container .main .main2 {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
}
.container .main .main2 .main3 {
  justify-content: space-around;
  display: flex;
}
.container .main .main2 .main3 .first {
  margin-top: 3vh;
  display: flex;
  gap: 40px;
}
.container .main .main2 .main3 ul {
  font-weight: 700;
  font-family: "Roboto";
  gap: 70px;
  list-style: none;
  display: flex;
  color: white;
}
.container .main .main2 .main3 .third {
  margin-top: 3vh;
  gap: 30px;
  display: flex;
  color: white;
}
.container .main .main2 .main3 .third select {
  border: 1px #16171e;
  color: white;
  background-color: #16171e;
  border-radius: 10px;
  height: 3vh;
}
.container .main .main2 .main4 {
  font-family: Roboto;
  margin-top: 25vh;
  text-align: center;
  color: white;
}
.container .main .main2 .main4 h1 {
  font-size: 850%;
}
.container .main .main2 .main4 h3 {
  font-size: 200%;
}
.container .main .main2 .main5 :nth-child(1) {
  color: #34aadf;
}
.container .main .main2 .main5 :nth-child(2) {
  color: #43d854;
}
.container .main .main2 .main5 {
  gap: 30px;
  margin-top: 30vh;
  margin-left: 190vh;
  font-size: 200%;
}
.container .main6 {
  display: flex;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100vh;
}
.container .main6 .te1 img {
  width: 100%;
  height: 80vh;
  margin-top: 15vh;
}
.container .main6 .te2 {
  font-family: Roboto;
  margin-top: 10vh;
  margin-left: 20vh;
  color: white;
  line-height: 70px;
}
.container .main6 .te2 h1 {
  font-family: Roboto;
  font-size: 300%;
}
.container .main6 .te2 input {
  border-radius: 10px;
  width: 110%;
  height: 5vh;
  background-color: #16171e;
  border: 1px solid 100% rgba(27, 27, 27, 0.4);
  color: #707070;
  text-align: start;
}
.container .main6 .te2 p {
  line-height: 10px;
  color: #646464;
}
.container .main6 .te2 .lol {
  color: #33b7bc;
}
.container .main6 .te2 .but {
  margin-top: 30px;
  border-radius: 10px;
  width: 215px;
  height: 57px;
  color: white;
  background-color: #33b7bc;
  border: 1px solid #33b7bc;
  margin-left: 50px;
  cursor: pointer;
  font-size: 150%;
}
.container .main6 .te2 .ioi {
  margin-left: 150px;
}
.container .main6 .te2 .kok {
  margin-left: 100px;
}
.container .main7 {
  width: 100%;
  height: 150vh;
  background-color: rgba(0, 0, 0, 0.9);
}
.container .main7 .up {
  gap: 60px;
  justify-content: center;
  display: flex;
  font-family: Roboto;
  color: white;
}
.container .main7 .up h1 {
  margin-top: 20vh;
}
.container .main7 .pop {
  color: #414141;
}
.container .main7 .down {
  display: flex;
}
.container .main7 .down .img1 {
  margin-top: 5vh;
  margin-left: 30px;
  border-radius: 10px;
  background-image: url(./Rectangle\ 13.png);
  width: 48%;
  height: 50vh;
}
.container .main7 .down .img2 {
  margin-top: 5vh;
  border-radius: 10px;
  margin-left: 10px;
  background-image: url(./Rectangle\ 14.png);
  width: 48%;
  height: 50vh;
}
.container .main7 .dow {
  line-height: 10px;
  display: flex;
}
.container .main7 .dow .img3 {
  margin-top: 5px;
  margin-left: 30px;
  border-radius: 10px;
  background-image: url(Rectangle\ 177.png);
  width: 48%;
  height: 50vh;
}
.container .main7 .dow .img4 {
  margin-top: 5px;
  margin-left: 10px;
  border-radius: 10px;
  background-image: url(Rectangle\ 178.png);
  width: 48%;
  height: 50vh;
}
.container .main7 .dow .ok {
  margin-top: 20vh;
}
.container .main7 .teo button {
  font-family: Roboto;
  font-weight: bold;
  border-radius: 10px;
  font-size: 150%;
  color: white;
  background-color: #33b7bc;
  width: 300px;
  height: 7vh;
  margin-top: 7vh;
  margin-left: 85vh;
  cursor: pointer;
}
.container .main8 {
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100vh;
}
.container .main8 .te3 {
  font-family: Roboto;
  font-weight: bold;
  font-size: 300%;
  color: white;
  text-align: center;
}
.container .main8 .main9 {
  display: flex;
  justify-content: space-around;
}
.container .main8 .main9 .te4 {
  margin-top: 15vh;
  display: flex;
}
.container .main8 .main9 .te4 h1 {
  margin-left: 10px;
  margin-top: 60px;
  font-family: Roboto;
  color: white;
}
.container .main8 .te5 {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}
.container .main8 .te5 p {
  font-family: Roboto;
  width: 300px;
  color: #dbdbdb;
}
.container .main8 .te5 .tea {
  justify-content: space-around;
  display: flex;
}
.container .main8 .jojo {
  justify-content: center;
  margin-top: 10vh;
  display: flex;
}
.container .main8 .jojo h1 {
  font-weight: 800;
  text-align: center;
  color: white;
  width: 780px;
  height: 195px;
  font-family: Inter;
  margin-top: 10vh;
}
.container .main8 .jojo :nth-child(3) {
  margin-top: 20vh;
}
.container .main8 .jok {
  font-family: Roboto;
  margin-left: 120vh;
  color: white;
}
.container .main8 .jok p {
  color: #969696;
}
.container .image img {
  width: 100%;
  height: 100vh;
  background: round;
  background-repeat: no-repeat;
  background-size: cover;
}
.container .main10 {
  margin-top: -1vh;
  background-color: rgba(0, 0, 0, 0.9);
}
.container .main10 h1 {
  padding-top: 20vh;
  text-align: center;
  color: white;
  font-family: Roboto;
  font-size: 450%;
}
.container .main10 .main11 {
  margin-top: 10vh;
  display: flex;
}
.container .main10 .main11 .joker {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-image: url(./Rectangle\ 154.png);
}
.container .main12 {
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 130vh;
}
.container .main12 h1 {
  text-align: center;
  font-family: Roboto;
  color: white;
  font-size: 450%;
}
.container .main12 .main13 {
  padding-top: 20vh;
  display: flex;
}
.container .main12 .main13 h3 {
  margin-left: 5vh;
  margin-top: 40vh;
  color: white;
  font-family: roboto;
  width: 190px;
}
.container .main12 .main13 .jooj1 {
  width: 100%;
  height: 100vh;
  background-image: url(./Rectangle\ 187.png);
  background-repeat: no-repeat;
}
.container .main12 .main13 .jooj2 {
  background-image: url(./Rectangle\ 188.png);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
}
.container .main12 .main13 .jooj3 {
  background-image: url(./Rectangle\ 189.png);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
}
.container .main12 .main14 {
  margin-top: -50vh;
  display: flex;
}
.container .main12 .main14 h3 {
  margin-left: 5vh;
  margin-top: 40vh;
  color: white;
  font-family: roboto;
}
.container .main12 .main14 .jooj4 {
  width: 100%;
  height: 50vh;
  background-image: url(./Rectangle\ 190.png);
  background-repeat: no-repeat;
}
.container .main12 .main14 .jooj5 {
  background-image: url(./Rectangle\ 191.png);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
}
.container .main12 .main14 .jooj6 {
  background-image: url(./Rectangle\ 192.png);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
}
.container .main15 {
  padding-top: 20vh;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
}
.container .main15 h1 {
  color: white;
  font-family: Roboto;
  font-size: 450%;
  margin-left: 5vh;
}
.container .main15 input {
  width: 100%;
  background: linear-gradient(90.75deg, #1c1c1c 0.65%, rgba(27, 27, 27, 0.4) 107.06%);
  border-radius: 10px;
  height: 7vh;
  margin-left: 5vh;
  margin-top: 3vh;
}
.container textarea {
  margin-left: 5vh;
  border-radius: 10px;
  width: 100%;
  margin-top: 3vh;
  color: #707070;
  background: linear-gradient(90.75deg, #1c1c1c 0.65%, rgba(27, 27, 27, 0.4) 107.06%);
}
.container button {
  font-family: Roboto;
  font-weight: bold;
  width: 310px;
  height: 90px;
  border: 2px solid #33B7BC;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  font-size: 100%;
  margin-left: 5vh;
  margin-top: 2vh;
}/*# sourceMappingURL=1.css.map */